$font: 'Arial', sans-serif;

$background-color: #9DAEC2 !default;
$primary-color: #FFFFFF !default;
$secondary-color: #6437cc !default;
$secondary-color-hover: #939BF4 !default; 
$text-color: #0e0d0d;