@use './variables' as *;

@use './themes/light-theme' as light;
@use './themes/dark-theme' as dark;

.light-theme{
    --primary-color: #{light.$primary-color};
    --secondary-color: #{light.$secondary-color};
    --background-color: #{light.$background-color};
    --text-color: #{light.$text-color};
}

.dark-theme {
    --primary-color: #{dark.$primary-color};
    --secondary-color: #{dark.$secondary-color};
    --background-color: #{dark.$background-color};
    --text-color: #{dark.$text-color};
}