<div class="search-div">
    <div class="filter-title-div">
        <img src="" alt="">
        <input type="text" name="" id="" class="input-text">
    </div>
    <div class="filter-location-div">
        <img src="" alt="">
        <input type="text" name="" id="" class="input-text">
    </div>
    <div class="search-button-div">
        <input type="checkbox" name="fullTime" id="">
        <label for="fullTime">Full Time Only</label>
        <input type="submit" value="Search">
    </div>
</div>
