<div class="search-div search">
    <div class="filter-title-div">
        <img src="assets/desktop/icon-search.svg" alt="search icon">
        <input type="text" name="" id="" class="input-text input_job_card" placeholder="Filter by title, companies, expertise…">
    </div>
    <div class="filter-location-div ">
        <img src="assets/desktop/icon-location.svg" alt="location icon" class="left_border">
        <input type="text" name="" id="" class="input-text input_job_card" placeholder="Filter by location…">
    </div>
    <div class="search-button-div">
        <div class="fulltime-div">
            <input type="checkbox" name="fullTime" id="">
            <label for="fullTime" class="input_job_card">Full Time Only</label>
        </div> 
        <input type="submit" value="Search" class=" btn">
    </div>
</div>
