@use './styles/themes.scss' as *;

$tablet: 780px;
$mobile: 480px;

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.search{
     background-color: var(--primary-color);
}

.input_job_card{
    background-color: var(--primary-color);
    color: var(--text-color);
}

.left_border{
    border-left: 1p solid var(--text-color);
}