@use './styles/themes.scss' as *;

$laptop: 1100px;
$tablet: 780px;
$mobile: 480px;

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.search{
     background-color: var(--primary-color);
}

.input_job_card{
    background-color: var(--primary-color);
    color: var(--text-color);
}

.left_border{
    border-left: 1p solid var(--text-color);
}

.btn{
    height: 48px;
    width: 141px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 10px;

    @media (max-width: $laptop) {
        width: 80px;
    }
}